<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base.html}">
	<head>
		<meta charset="utf-8">
		<title>iTennis - 商品结算</title>
    </head>
	<body>
		<div layout:fragment="content" >

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">订单地址</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="username" placeholder="收件人">
							</div>
							<div class="form-group">
								<input class="input" type="tel" name="tel" placeholder="预留电话">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="邮箱">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="address" placeholder="地址">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="zip-code" placeholder="邮编">
							</div>
							<!-- <div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Create Account?
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div> -->
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<!-- <div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<div class="form-group">
										<input class="input" type="text" name="first-name" placeholder="First Name">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="last-name" placeholder="Last Name">
									</div>
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Email">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="address" placeholder="Address">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" placeholder="City">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country" placeholder="Country">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zip-code" placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="tel" placeholder="Telephone">
									</div>
								</div>
							</div>
						</div> -->
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">我的订单</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>产品</strong></div>
								<div style="text-align: center;"><strong>价格</strong></div>
							</div>
							<div class="order-products">
								<div class="order-col" th:each="cart:${carts.data}">
									<div class="input-number" style="width: 60px; margin-right: 10px">
										<input type="number" class="updown_num" style=" padding: 0px 10px 0px 20px;" th:value="${cart.cartnum}">
										<span class="qty-up" style="top: 10px;">+</span>
										<span class="qty-down" style="bottom: 10px;">-</span>
									</div>
									<div style="padding-left: 16px;">[[${cart.goods.goodsname}]]</div>
									<div style="width: 100px;padding-right:16px;text-align: right">￥[[${cart.goods.goodsprice*cart.cartnum}]]</div>
									<button class="delete" th:onclick="'javascript:deleteCarts('+${cart.cartuserid}+','+${cart.cartgoodsid}+')'" style="margin-right: -25px; width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;background: #fff;border: none"><i class="fa fa-close" style="color: #D10024;"></i></button>
								</div>
							</div>
							<div class="order-col">
								<div>快递运费</div>
								<div><strong>免费</strong></div>
							</div>
							<div class="order-col">
								<div><strong>总计</strong></div>
								<div><strong class="order-total">￥[[${goodsSum}]]</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									支付宝
								</label>
								<div class="caption">
									<p>支付宝支付</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									直接银行转账
								</label>
								<div class="caption">
									<p>通过银行转账实现交易</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								我接受并遵守网站的<a href="#">协议 & 原则</a>
							</label>
						</div>
						<a href="#" class="primary-btn order-submit">付 款</a>
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

</div>

	</body>
</html>
