<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{base.html}">
	<head>
		<meta charset="utf-8">
		<title>iTennis - 产品详情页</title>
    </head>
	<body>
		<div layout:fragment="content" >
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview" th:each = "pic:${previewpics}">
								<img th:src="@{${pic}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview" th:each = "pic:${previewpics}">
								<img th:src="@{${pic}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">[[${goods.goodsname}]]</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">[[${goods.goodsgoodnum}]] 人关注</a>
							</div>
							<div>
								<h3 class="product-price">[[${#numbers.formatDecimal(goods.goodsprice,1,0)}]] <del class="product-old-price"  th:text=${#numbers.formatDecimal(goods.goodsprice*(1-goods.goodsdiscount/100),1,0)}>$990.00</del></h3>
								<span class="product-available">有货</span>
							</div>
							<p>[[${goods.goodsdesc}]]</p>

							<div class="add-to-cart">
								<div class="qty-label">
									数量
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> 加入购物车</button>
							</div>

							<ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> 加入收藏</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> 加入比较</a></li>
							</ul>

							<ul class="product-links">
								<li>类别：</li>
								<li><a href="#">[[${goods.cates.catename}]]</a></li>
							</ul>

							<ul class="product-links">
								<li>分享到：</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">产品描述</a></li>
								<li><a data-toggle="tab" href="#tab2">产品详情</a></li>
								<li><a data-toggle="tab" href="#tab3">产品评价</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>[[${goods.goodsdesc}]]</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<p>[[${goods.goodsdetails}]]</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li th:each="comment:${comments}">
														<div class="review-heading">
															<h5 class="name">[[${comment.commentuserid}]]</h5>
															<p class="date">[[${#dates.format(comment.commenttime, 'yyyy-MM-dd HH:mm')}]]</p>
															<div class="review-rating">
																<i class="fa fa-star" th:each="i:${#numbers.sequence(1,comment.commentlevel)}"></i>
																<i class="fa fa-star-o" th:each="i:${#numbers.sequence(1,5-comment.commentlevel)}"></i>
															</div>
														</div>
														<div class="review-body">
															<p>[[${comment.commentcontent}]]</p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li th:if="${currentpage-1>=1}"><a th:href="'/product?currentpage='+${currentpage-1}+'&pagesize='+${pagesize}+'&id='+${goodsid}"><i class="fa fa-angle-left"></i></a></li>
								<li th:if="${currentpage-2>=1}"><a th:href="'/product?currentpage='+${currentpage-2}+'&pagesize='+${pagesize}+'&id='+${goodsid}">[[${currentpage-2}]]</a></li>
								<li th:if="${currentpage-1>=1}"><a th:href="'/product?currentpage='+${currentpage-1}+'&pagesize='+${pagesize}+'&id='+${goodsid}">[[${currentpage-1}]]</a></li>
								<li class="active">[[${currentpage}]]</li>
								<li th:if="${currentpage+1<=totalpage}"><a th:href="'/product?currentpage='+${currentpage+1}+'&pagesize='+${pagesize}+'&id='+${goodsid}">[[${currentpage+1}]]</a></li>
								<li th:if="${currentpage+2<=totalpage}"><a th:href="'/product?currentpage='+${currentpage+2}+'&pagesize='+${pagesize}+'&id='+${goodsid}">[[${currentpage+2}]]</a></li>
								<li th:if="${currentpage+1<=totalpage}"><a th:href="'/product?currentpage='+${currentpage+1}+'&pagesize='+${pagesize}+'&id='+${goodsid}"><i class="fa fa-angle-right"></i></a></li>
							</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Your Name">
													<!-- <input class="input" type="email" placeholder="Your Email"> -->
													<textarea class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">更多推荐</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col-xs-6"  th:each="goods : ${goodsmore}">
						<div class="product">
											<div class="product-img">
												<img th:src="@{${goods.goodscover}}" alt="">
												<div class="product-label">
													<span class="sale" th:text="${#numbers.formatDecimal(goods.goodsdiscount,1,0)}+'%'"></span>
													<span class="new" th:text="${goods.goodsisnew}==0?'NEW':'清仓'">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category" th:text=${goods.cates.catename}>Category</p>
												<h3 class="product-name"><a th:href="'/product?currentpage=1&pagesize=10&id='+${goods.id}" th:text=${goods.goodsname}>product name goes here</a></h3>
												<h4 class="product-price">[[${#numbers.formatDecimal(goods.goodsprice,1,0)}]] <del class="product-old-price" th:text=${#numbers.formatDecimal(goods.goodsprice*(1-goods.goodsdiscount/100),1,0)}>$0.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
					</div>
					<!-- /product -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

</div>
	</body>
</html>