<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{base.html}">
<head>
<meta charset="utf-8">
<title>iTennis - 首页</title>
</head>
<body>
	<div layout:fragment="content">
		<div style="height: 600px">
			<div
				style='position: absolute; top: 250px; left: 327px; width: 401px;'>
				<img style="width: 150; heght: 150;" src='/images/yh.jpg' />
			</div>
			<div
				style='position: absolute; top: 289px; left: 687px; width: 621px;'>
				<img src='/images/services.jpg'/>
			</div>
			<div
				style='position: absolute; top: 300px; left: 398px; width: 261px;'>
				<div>
					<span style="font-size: 18px;"> <span
						style="line-height: 35px;"> <font
							style="color: rgb(66, 66, 66);" color="#424242">
								<div>优雅不羁、摩登率直、可可小姐</div>
								<div>香水彰显自由独立的精神，富</div>
								<div>个性又令人难以捉摸。</div>
						</font>
					</span>
					</span>
				</div>
			</div>
			<div
				style='position: absolute; top: 517px; left: 295px; width: 340px;'>
				<div>
					<div>
						<span style="color: rgb(73, 110, 232);"><a href="#"
							target="_blank"><font style="color: rgb(71, 71, 71);"
								color="#474747"></a><a href="#" target="_blank">性感御姐 时尚之选</a></font>
							<div>
								<a href="#" target="_blank"><span style="font-size: 26px;">
										<font style="color: rgb(18, 18, 18);" color="#121212">性感、清新、俏皮
											优雅华丽</font>
								</span> </a>
							</div>
							<div>
								<a href="#" target="_blank"><span style="font-size: 20px;"><font
										style="color: rgb(129, 129, 129);" color="#818181">———————————————</font></span></a>
							</div>
							<div>
								<a href="#" target="_blank"><span style="font-size: 16px;"><font
										style="" color="#5f5f5f"><font
											style="color: rgb(95, 95, 95);" color="#5f5f5f">背部理疗</font></font></span></a>
							</div>
							<div>
								<br>
							</div>
							<div>
								<a href="#" target="_blank"><font
									style="color: rgb(241, 58, 58);" color="#f13a3a">特惠价：<span
										style="font-size: 18px;">￥</span><span
										style="font-size: 33px; color: rgb(241, 58, 58);">1999</span></font></a>
							</div></span>
					</div>
				</div>
			</div>

		</div>
		
		
		
		<div style="height: 600px">
			<div
				style='position: absolute; top: 850px; left: 327px; width: 401px;'>
				<img style="width: 150; heght: 150;" src='/images/yh.jpg' />
			</div>
			<div
				style='position: absolute; top: 889px; left: 687px; width: 621px;'>
				<img src='/images/services2.jpg'/>
			</div>
			<div
				style='position: absolute; top: 900px; left: 398px; width: 261px;'>
				<div>
					<span style="font-size: 18px;"> <span
						style="line-height: 35px;"> <font
							style="color: rgb(66, 66, 66);" color="#424242">
								<div>优雅不羁、摩登率直、可可小姐</div>
								<div>香水彰显自由独立的精神，富</div>
								<div>个性又令人难以捉摸。</div>
						</font>
					</span>
					</span>
				</div>
			</div>
			<div
				style='position: absolute; top: 1117px; left: 295px; width: 340px;'>
				<div>
					<div>
						<span style="color: rgb(73, 110, 232);"><a href="#"
							target="_blank"><font style="color: rgb(71, 71, 71);"
								color="#474747"></a><a href="#" target="_blank">性感御姐 时尚之选</a></font>
							<div>
								<a href="#" target="_blank"><span style="font-size: 26px;">
										<font style="color: rgb(18, 18, 18);" color="#121212">性感、清新、俏皮
											优雅华丽</font>
								</span> </a>
							</div>
							<div>
								<a href="#" target="_blank"><span style="font-size: 20px;"><font
										style="color: rgb(129, 129, 129);" color="#818181">———————————————</font></span></a>
							</div>
							<div>
								<a href="#" target="_blank"><span style="font-size: 16px;"><font
										style="" color="#5f5f5f"><font
											style="color: rgb(95, 95, 95);" color="#5f5f5f">人体刮痧理疗</font></font></span></a>
							</div>
							<div>
								<br>
							</div>
							<div>
								<a href="#" target="_blank"><font
									style="color: rgb(241, 58, 58);" color="#f13a3a">特惠价：<span
										style="font-size: 18px;">￥</span><span
										style="font-size: 33px; color: rgb(241, 58, 58);">299</span></font></a>
							</div></span>
					</div>
				</div>
			</div>

		</div>
		
	</div>


</body>
</html>